<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>::curriculum::</title>
     <!--OpenGraph Details-->
     <meta property="og:title" content="Curriculum Viate - Javier Leal"/>
     <meta property="og:type" content="profile" />
     <meta property="og:url" content="http://rakiong-p2.herokuapp.com/"/>
     <meta property="og:image" content="https://avatars.githubusercontent.com/u/101957005?s=400&u=5592959c131b6825c33c684e9db3575906d7e550&v=4"/>
     <meta property="og:description" content="¡Hola! Soy Javier, programador junior. Estoy disponible para cualquier proyecto, no dudes en contactarme.">
     <!--OpenGraph Details-->
     <link rel='stylesheet' href='/stylesheets/style.css'>
     <script src="https://www.google.com/recaptcha/api.js"></script>
     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.ID_ANALYTICS%>"></script>
     <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= process.env.ID_ANALYTICS%>' );
     </script>
  </head>
  <body>
     <div class="curriculum_body">
         <img src="/images/foto.png" alt="2x2" width="120px" height="120px"/>
         <br>
         <h1>Javier Antonio Leal Pino</h1>
         <br>
         <br>
         <br>
         <fieldset>
             <legend>Datos Personales:</legend>
             <ul>
                 <li><span>Fecha de nacimiento:</span> 12/03/2003</li>
                 <li><span>Cedula de identidad:</span> V-30.045.707</li>
                 <li><span>Correo electronico:</span> MetalBlade393@hotmail.com</li>
             </ul>
         </fieldset>
         <fieldset>
             <legend>Formación Academica:</legend>
             <ul>
                 <li><span>Educación Inicial:</span> 1er - 3er nivel Centro de Educación Inicial "Base Aragua" (2006-2009).</li>
                 <li><span>Educación Primaria:</span> 1er - 4to grado Unidad Educativa Colegio "Los Ángeles" (2009-2013).</li>
                 <li><span>Educación Primaria:</span> 5to - 6to grado Unidad Educativa Colegio "Dr. Arístides Rojas" (2014-2015).</li>
                 <li><span>Educación Secundaria:</span> 1er - 5to año Unidad Educativa Colegio "Dr. José María Vargas" (2015-2020).</li>
             </ul>
         </fieldset>
         <fieldset>
             <legend>Experiencia Laboral:</legend>
             <ul>
                 <li><span>Programador junior</span> Inversiones CORPERCA c.a.</li>
             </ul>
         </fieldset>
         <fieldset>
             <legend>Mis Redes sociales:</legend>
             <ul>
                 <li><span>Facebook:</span><a href="https://www.facebook.com/javierantonio.lealpino"> https://www.facebook.com/javierantonio.lealpino</a></li>
                 <li><span>Twitter:</span><a href="https://twitter.com/Metal_Blade393"> https://twitter.com/Metal_Blade393</a></li>
                 <li><span>Instagram:</span><a href="https://www.instagram.com/metalblade_dubs.n.anything/?hl=es"> https://www.instagram.com/metalblade_dubs.n.anything/?hl=es</a></li>
             </ul>
         </fieldset>
         <fieldset>
             <legend>Habilidades y Destrezas:</legend>
             <ul>
                 <li>Manejo de programas Office: Word - Excel - Powerpoint</li>
                 <li>Manejo de lenguajes de programación (Nivel básico - intermedio): Javascript - PHP - HTML - CSS</li>
                 <li>Experiencia en el manejo de Apps para la creación de medios audiovisuales</li>
             </ul>
         </fieldset>
         <fieldset>
             <legend>Otros datos de interes:</legend>
             <ul>
                 <li>Trabajador responsable, eficiente y eficaz capaz de aprender y aplicar rápidamente las nuevas tecnologías</li>
                 <li>Dominio del inglés básico - intermedio</li>
             </ul>
         </fieldset>
     </div>
     <form class="form" action="/" method="POST" id="EnvioFormulario">
         <div class="form__container">
             <h2 class="form__title">Contactame</h2>
             <div>
               <input name="nombre" id="nombre" class="form__input" placeholder="indique su nombre completo..." value="<%= tarea.nombre%>">
             </div>
             <div>
               <input name="email" id="email" class="form__input" placeholder="indique su Email..." value="<%= tarea.email%>">
             </div>
             <div>
               <input name="comentario" id="comentario" class="form__input form__input--message" placeholder="Dejenos su comentario..." value="<%= tarea.comentario%>">
             </div>
             <div class="g-recaptcha" data-sitekey= "<%= process.env.KEY_PUBLIC %>">
             </div>

             <button type="submit" class="form__cta">Enviar mensaje</button>
             <a href="login.ejs" class="btn__style">Contactos</a>
             <input type="hidden" name="ip" value="<%= tarea.ip%>"/>
             <input type="hidden" name="fecha" value="<%= tarea.fecha%>">
             <span class="fa fa-phone">0426-6497560</span>
             <span class="fa fa-envelope-o">javierantoniolealpino@gmail.com</span>
         </div>
     <form>
        <script>
            document.getElementById("EnvioFormulario").addEventListener("submit",function(evt)
            {
            const response = grecaptcha.getResponse();
            const nombre = document.getElementById('nombre')
            const correo = document.getElementById('email')
            const comentario = document.getElementById('comentario')
            if(response.length == 0 || nombre.value=="" || email.value=="" || comentario.value=="") 
            { 
                //reCaptcha sin verificar
                alert("Favor de rellenar todos los campos y verifique si usted es un humano."); 
                evt.preventDefault();
                return false;
            } else {
                //captcha verificado
                alert("Ha sido verificado con exito. Datos enviados."); 
                //do the rest of your validations here
            }
            });
        </script>
  </body>
</html>